src/Oms.Client/Service References/Proxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderServiceContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Oms.Transport.Contracts.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderServiceContract_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_SubscribeOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_UnsubcribeOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubcribeOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_Orders_OnNext_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Orders_OnNext" />
  </wsdl:message>
  <wsdl:message name="IOrderServiceContract_Orders_OnNext_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Orders_OnNextResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IOrderServiceContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderServiceContract/GetOrders" message="tns:IOrderServiceContract_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderServiceContract/GetOrdersResponse" message="tns:IOrderServiceContract_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderServiceContract/CreateOrder" message="tns:IOrderServiceContract_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderServiceContract/CreateOrderResponse" message="tns:IOrderServiceContract_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SubscribeOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderServiceContract/SubscribeOrders" message="tns:IOrderServiceContract_SubscribeOrders_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnsubcribeOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderServiceContract/UnsubcribeOrders" message="tns:IOrderServiceContract_UnsubcribeOrders_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Orders_OnNext">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderServiceContract/Orders_OnNext" message="tns:IOrderServiceContract_Orders_OnNext_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderServiceContract/Orders_OnNextResponse" message="tns:IOrderServiceContract_Orders_OnNext_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOrderServiceContract" type="tns:IOrderServiceContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderServiceContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderServiceContract/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderServiceContract/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderServiceContract/SubscribeOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnsubcribeOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderServiceContract/UnsubcribeOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Orders_OnNext">
      <soap12:operation soapAction="http://tempuri.org/IOrderServiceContract/Orders_OnNext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderServiceContract">
    <wsdl:port name="NetTcpBinding_IOrderServiceContract" binding="tns:NetTcpBinding_IOrderServiceContract">
      <soap12:address location="net.tcp://localhost:9002/OrderService/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/OrderService/service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>